*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #121212;
    color: #121212;
}

.subtitle{
    font-weight: bold;
}

header{
    color: #d3edee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 1rem auto 0rem auto;
}

header h1{
    font-size: 2.4rem;
}

header p{
    font-size: 1.2rem;
}


section{
    background-color: #555879;
    width: 50%;
    margin: 7rem auto 0rem auto;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.2rem;
    padding: 1.5rem;
    border-radius: 5px;
}

section img{
    width: 17rem;
    border-radius: 50%;
}

section > div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#favorite-movies{
    margin-top: .5rem;
    transform: translateX(1rem);
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100vw;
    background-color: #262626;
    padding: 1rem 0;
    color: #c5c5c5;
    font-weight: bold;
}